<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">

		<f:flashMessages />

		<table class="{tableClass}">
			<f:if condition="{ownHeaderData}">
				<tr>
					<f:for each="{ownHeaderData}" as="header">
						<th>{header}</th>
					</f:for>
				</tr>
			</f:if>


			<f:for each="{imports}" as="import" iteration="iter">
				<tr>

							<f:for each="{import}" as="value">
								<td>{value}</td>
							</f:for>

				</tr>
			</f:for>
		</table>
	</f:section>
</html>